.header {
  display: grid;
  grid-template-columns: 200px 300px;
  justify-content: space-between;
  grid-gap: 15px;
  align-items: center;
  padding: 20px 30px;
  background-color: #4e5d6c;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    text-align: center;
  }
  .logo {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    &:hover {
      opacity: 0.6;
    }
    h2 {
      margin-bottom: 0;
      color: #fff;
      font-weight: 500;
    }
  }
}
