.paginatorWrapper {
  padding: 40px 0 20px;
  ul {
    flex-wrap: wrap;
    justify-content: center;
    .pageItem {
      cursor: pointer;
      &.currentPage {
        span {
          background-color: #4e5d6c;
        }
      }
    }
  }
}
